@tailwind base;

@tailwind components;

@tailwind utilities;

body {
    font-family: 'Arvo', serif;
}
.h-screen-body {
    min-height:calc(100vh - 16rem)!important;
}
.black {
    color: #000;
}
.text-primary {
    color: #0E3B43;
}
.text-secondary {
    color: #C9F299;
}
.text-tertiary {
    color: #4BC0D9;
}
.text-alert {
    color: #FF6542;
}
.text-muted {
    color: #C4C4C4;
}

.bg-primary {
    background: #0E3B43;
}
.bg-secondary {
    background: #C9F299;
}
.bg-tertiary {
    background: #4BC0D9;
}
.bg-alert {
    background: #FF6542;
}
.bg-muted {
    background: #C4C4C4;
}

.dark {
    filter: brightness(70%)
}
.bg-image-z {
    z-index: -1;
}
.xl\:h-120{
  height: 700px;
}