body {
  font-family: "Arvo", serif;
}
.h-screen-body {
  min-height: calc(100vh - 16rem) !important;
}
.black {
  color: #000;
}
.text-primary {
  color: #0e3b43;
}
.text-secondary {
  color: #c9f299;
}
.text-tertiary {
  color: #4bc0d9;
}
.text-alert {
  color: #ff6542;
}
.text-muted {
  color: #c4c4c4;
}

.bg-primary {
  background: #0e3b43;
}
.bg-secondary {
  background: #c9f299;
}
.bg-tertiary {
  background: #4bc0d9;
}
.bg-alert {
  background: #ff6542;
}
.bg-muted {
  background: #c4c4c4;
}

.dark {
  filter: brightness(70%);
}
.bg-image-z {
  z-index: -1;
}
@media (min-width: 1280px) {
  .xl\:h-120 {
    height: 700px;
  }
  .xl\:px-120 {
    width: 30rem;
  }
}
